/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "HelveticaNeueCyr";
  font-display: swap;
  src: url("../fonts/HelveticaNeueCyr-Light.woff") format("woff"), url("../fonts/HelveticaNeueCyr-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Nexa";
  font-display: swap;
  src: url("../fonts/Nexa-Book.woff") format("woff"), url("../fonts/Nexa-Book.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "nexa";
  font-display: swap;
  src: url("../fonts/nexabold.woff") format("woff"), url("../fonts/nexabold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "nexa";
  font-display: swap;
  src: url("../fonts/nexalight.woff") format("woff"), url("../fonts/nexalight.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

*,
*::before,
*::after,
html {
  box-sizing: border-box;
}

section,
article {
  width: 100%;
}

img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}

body {
  min-width: 320px;
}

.burger {
  width: 30px;
  height: 30px;
  position: relative;
  cursor: pointer;
}

.burger__line {
  width: 100%;
  height: 5px;
  position: absolute;
  left: 0;
  display: block;
  background-color: #701dbb;
  transition: .3s all linear;
}

.burger__line--first {
  top: 0;
}

.burger__line--second,
.burger__line--third {
  top: 50%;
  transform: translateY(-50%);
}

.burger__line--fourth {
  bottom: 0;
}

.burger--active .burger__line--first,
.burger--active .burger__line--fourth {
  opacity: 0;
}

.burger--active .burger__line--second {
  transform: translateY(-50%) rotate(45deg);
}

.burger--active .burger__line--third {
  transform: translateY(-50%) rotate(-45deg);
}

.title {
  font-family: "Nexa", sans-serif;
  font-weight: 400;
  line-height: normal;
  font-size: 36px;
}

.subtitle {
  font-family: "nexa", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
}

.bold {
  font-weight: bold;
}

.header__nav.active {
  left: 0;
}

.slick-list {
  overflow: hidden;
}

.slick-track {
  display: flex;
}

.slick-dots {
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: repeat(1, 25px);
  grid-auto-columns: 25px;
  align-items: center;
  justify-content: center;
  padding: 25px 0;
}

.slick-dots li {
  display: grid;
  justify-content: center;
  list-style: none;
}

.slick-dots li.slick-active button {
  background: #8F33C4;
}

.slick-dots li button {
  font-size: 0;
  width: 15px;
  height: 15px;
  border: none;
  border-radius: 50%;
  background-color: #979797;
  transition: .2s ease-in-out;
  cursor: pointer;
}

.header {
  background: #ebebeb;
}

.header__top {
  width: 100%;
  padding: 30px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: "nexa", sans-serif;
  font-weight: 700;
  color: #c7c7c7;
}

.header__logo {
  width: 250px;
  height: 54px;
}

.header__form {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.header__input {
  width: 100%;
  padding: 15px 50px 15px 15px;
  border: none;
  font-size: 12px;
  line-height: auto;
}

.header__input:focus {
  outline: 2px solid #701dbb;
}

.header__btn {
  height: 100%;
  width: 45px;
  position: absolute;
  right: 0;
  background-color: #fff;
  border: none;
  font-family: "nexa", sans-serif;
  font-weight: 700;
  color: #701dbb;
  transition: .2s ease-in-out;
  cursor: pointer;
}

.header__btn:hover {
  background: #701dbb;
  color: #fff;
}

.header__nav {
  transition: left .7s ease-in-out;
}

.header__item {
  width: 100%;
  height: 100%;
  border-left: 1px solid #d4d4d4;
  border-right: 1px solid #d4d4d4;
  border-bottom: 5px solid #a34ff0;
}

.header__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 30px 0;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 41px;
  font-weight: bold;
  color: #707070;
  background: linear-gradient(#fff, #efefef);
}

.header__link:hover {
  background: #fff;
  color: #701dbb;
}

.header__link:hover::before {
  display: block;
}

.header__link::before {
  content: '';
  width: 100%;
  height: 5px;
  bottom: 0;
  position: absolute;
  display: none;
  background-color: #a34ff0;
}

.header__link i {
  font-size: 24px;
}

.quicklinks {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
}

.quicklinks__link {
  padding: 5px 15px 5px 15px;
  font-family: "nexa", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  color: #d5d5d5;
  transition: .2s ease-in-out;
}

.quicklinks__link:hover {
  color: #701dbb;
}

.quicklinks__link i {
  padding-left: 5px;
}

.intro {
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("../img/intro__bg.jpg") no-repeat center/cover;
}

.intro__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
}

.intro__title {
  padding: 20px 0;
  font-family: "nexa", sans-serif;
  font-weight: 700;
}

.intro__subtitle {
  font-family: "Nexa", sans-serif;
  font-weight: 400;
  font-size: 20px;
}

.posibilities {
  padding-bottom: 80px;
  background: #2d2d2d;
  color: #fff;
}

.posibilities__top {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.posibilities__title {
  padding: 20px 0;
  color: #fff;
}

.posibilities__subtitle {
  color: #925ac4;
}

.posibilities__image {
  margin-top: 30px;
}

.bottom {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: space-around;
}

.bottom__block {
  margin-top: 30px;
}

.bottom__title {
  padding: 20px 0;
  font-family: "Nexa", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 22px;
}

.bottom__description {
  font-family: "Arial";
  font-size: 12px;
  line-height: 25px;
}

.screen {
  padding-top: 50px;
  background: #222;
}

.screen__container {
  padding: 0;
}

.screen__wrap {
  background: url("../img/monitorScreen.png") no-repeat center top/cover;
  padding: 275px 0 85px 0;
  text-align: center;
}

.screen__title {
  padding: 20px;
  color: #fff;
}

.screen__subtitle {
  color: #925ac4;
}

.team {
  padding: 25px 0;
  background: #ebebeb;
}

.team__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.team__title {
  padding: 10px 0;
  color: #717171;
}

.team__subtitle {
  color: #717171;
}

.slider {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 100%;
  min-width: 0;
}

.slider__slide {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.slider__item {
  margin-top: 30px;
}

.slider__member {
  padding-left: 5px;
  margin-top: 10px;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  color: #9b9b9b;
}

.slider .bold {
  color: #7b7b7b;
}

.achievements {
  padding: 30px 0;
  background: #ebebeb;
}

.achievements__container {
  display: grid;
  grid-gap: 20px;
}

.achievements__paragraph {
  position: relative;
  background-color: #fff;
  border: 2px solid #e6e6e6;
}

.achievements__title {
  padding: 10px 0;
  font-family: "nexa", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 30px;
  color: #252525;
}

.achievements__subtitle {
  padding: 10px 0;
  font-family: "nexa", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 25px;
  color: #6017a3;
}

.achievements__text {
  padding: 20px 0;
  font-family: "nexa", sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 22px;
  color: #949494;
}

.achievements__button {
  position: absolute;
  left: 0;
  top: 0;
  padding: 3px 13px;
  font-family: "Nexa", sans-serif;
  font-weight: 400;
  font-size: 26px;
  line-height: auto;
  color: #fff;
  background-color: #8f33c4;
  border: none;
  transition: .2s ease-in-out;
  cursor: pointer;
}

.achievements__button:hover {
  background-color: #632387;
}

.footer {
  padding: 20px 0 40px 0;
  border-top: 3px solid #914dcf;
  background: #373737;
}

.footer__top {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}

.footer__link {
  text-align: center;
  padding: 10px 0;
  font-family: "nexa", sans-serif;
  font-weight: 700;
  color: #fff;
  -webkit-text-decoration: underline 3px rgba(145, 77, 207, 0);
          text-decoration: underline 3px rgba(145, 77, 207, 0);
  text-underline-offset: 10px;
  transition: .2s ease-in-out;
}

.footer__link:hover {
  -webkit-text-decoration: underline 3px #914dcf;
          text-decoration: underline 3px #914dcf;
}

.footer__link:not(:last-child)::after {
  content: '|';
  position: absolute;
  padding-left: 7px;
  font-weight: 300;
}

.footer__link:nth-child(1) {
  grid-area: a;
}

.footer__link:nth-child(2) {
  grid-area: b;
}

.footer__link:nth-child(3) {
  grid-area: c;
}

.footer__link:nth-child(4) {
  grid-area: d;
}

.footer__link:nth-child(5) {
  grid-area: e;
}

.footer__body {
  display: flex;
  flex-wrap: wrap;
}

.footer__text {
  font-family: "HelveticaNeueCyr", sans-serif;
  font-weight: 300;
  line-height: 25px;
  color: #fff;
}

.footer__bottom {
  margin-top: 40px;
}

.social {
  display: grid;
}

.social__item {
  text-align: center;
  font-family: "nexa", sans-serif;
  font-weight: 700;
  color: #fff;
  transition: .2s ease-in-out;
}

.social__item:hover {
  color: #914dcf;
  cursor: pointer;
}

.social__link {
  padding-left: 5px;
  font-family: inherit;
  color: inherit;
}

.company__list {
  display: flex;
}

.company__link {
  font-family: "HelveticaNeueCyr", sans-serif;
  font-weight: 300;
  color: #fff;
  transition: .2s ease-in-out;
}

.company__link:hover {
  color: #914dcf;
}

.company__text {
  padding-top: 30px;
  font-family: "HelveticaNeueCyr", sans-serif;
  font-weight: 300;
  font-size: 12px;
  color: #6c6c6c;
  line-height: 21px;
}

@media (min-width: 576px) {
  .intro__title {
    font-size: 40px;
    line-height: 47px;
  }

  .intro__subtitle {
    line-height: 37px;
  }

  .slider__slide {
    flex-flow: row wrap;
  }

  .footer__link + .footer__link {
    margin-left: 15px;
  }
}

@media (min-width: 634px) {
  .footer__body {
    padding-top: 30px;
  }
}

@media (min-width: 768px) {
  .burger {
    display: none;
  }

  .header {
    height: 230px;
  }

  .header__top {
    justify-content: space-between;
  }

  .header__form {
    width: 325px;
  }

  .header__list {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-evenly;
  }

  .intro {
    height: calc(100vh - 230px);
  }

  .bottom__block {
    width: 30%;
  }
}

@media (min-width: 915px) {
  .quicklinks__item:first-child::after {
    content: "|";
  }

  .achievements__container {
    grid-template-columns: repeat(2, 1fr);
  }

  .achievements__paragraph {
    padding: 60px;
  }

  .achievements__paragraph--extra {
    grid-column: 1 / 3;
  }
}

@media (min-width: 992px) {
  .slider__item {
    text-align: left;
  }

  .footer__top {
    justify-content: space-between;
  }

  .footer__body {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }

  .footer__text {
    width: 50%;
  }

  .social {
    grid-auto-flow: column;
    grid-template-rows: repeat(1, -webkit-max-content);
    grid-template-rows: repeat(1, max-content);
    grid-auto-columns: -webkit-max-content;
    grid-auto-columns: max-content;
    grid-column-gap: 15px;
  }

  .company__item:not(:first-child) {
    margin-left: 20px;
  }

  .company__text {
    width: 90%;
  }
}

@media (max-width: 1170px) {
  .title {
    font-size: calc(25px + 11 * ((100vw - 320px) / 850));
  }
}

@media (max-width: 991px) {
  .slider__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .footer__top {
    justify-content: space-evenly;
  }

  .footer__body {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .footer__text {
    width: 90%;
    text-align: center;
  }

  .footer__social {
    margin-top: 20px;
  }

  .social {
    grid-template-columns: repeat(2, 100px);
    grid-gap: 15px;
  }

  .company__list {
    flex-flow: column wrap;
    align-items: center;
  }

  .company__item:not(:first-child) {
    margin-top: 10px;
  }

  .company__text {
    padding: 30px 20px;
    text-align: center;
  }
}

@media (max-width: 914px) {
  .achievements__container {
    grid-template-columns: 1fr;
  }

  .achievements__paragraph {
    padding: 20px;
  }

  .achievements__button {
    display: none;
  }
}

@media (max-width: 767px) {
  .header {
    top: 0;
    left: 0;
    position: -webkit-sticky;
    position: sticky;
    z-index: 5;
  }

  .header__top {
    justify-content: space-evenly;
  }

  .header__quicklinks {
    display: none;
  }

  .header__input {
    display: none;
  }

  .header__btn {
    display: none;
  }

  .header__nav {
    display: grid;
    place-content: center;
    position: fixed;
    top: 114px;
    height: calc(100vh - 114px);
    width: 100%;
    background: rgba(98, 61, 131, 0.8);
    left: 100%;
    overflow: hidden;
    z-index: 5;
  }

  .header__list {
    display: grid;
    grid-template: repeat(3, 1fr)/repeat(2, 125px);
    justify-content: center;
    grid-gap: 10px;
    width: 100vw;
  }

  .intro {
    height: calc(100vh - 114px);
  }
}

@media (max-width: 633px) {
  .footer__nav {
    padding: 15px 0;
  }
}

@media (max-width: 575px) {
  .intro__title {
    font-size: 30px;
    line-height: normal;
  }

  .intro__subtitle {
    line-height: auto;
  }

  .slider__slide {
    flex-flow: column wrap;
  }

  .footer__top {
    flex-direction: column;
  }

  .footer__nav {
    display: grid;
    grid-template-areas: "a a b b c c"
 "d d d e e e";
    width: 100%;
  }

  .footer__link:not(:last-child)::after {
    display: none;
  }

  .social__link {
    padding: 10px 5px 10px 0;
  }
}

@media (min-width: 576px) and (max-width: 991px) {
  .slider__item {
    width: 40%;
    text-align: center;
  }
}
